<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Vaimo_UserAccountPostcodeManagement::main" 
			title="Post Code Account Manager Assignment" 
			module="Vaimo_UserAccountPostcodeManagement"
             resource="Magento_Backend::admin"
			sortOrder="999" 
			parent="Magento_Backend::marketing"/>
        <add id="Vaimo_UserAccountPostcodeManagement::accountManagerPostCodes" 
			title="Manager Post Codes" 
			module="Vaimo_UserAccountPostcodeManagement" 
			sortOrder="1"
			 parent="Vaimo_UserAccountPostcodeManagement::main"
			 action="managerpostcodes/index/index"
			resource="Magento_Backend::admin"/>
        <add id="Vaimo_UserAccountPostcodeManagement::managerThreshold" 
			title="Set Threshold" 
			module="Vaimo_UserAccountPostcodeManagement" 
			sortOrder="2"
             parent="Vaimo_UserAccountPostcodeManagement::main"
             action="adminhtml/system_config/edit/section/customer"
			resource="Magento_Backend::admin"/>
    </menu>
</config>