<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="customer">
            <group id="order_threshold" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Order Threshold</label>
                <field id="threshold" translate="label comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                    <comment>Set the value for the threshold which Account Managers are Attached to a customer when checking out</comment>
                </field>
            </group>
        </section>
    </system>
</config>
